In [201]:
sc

In [202]:
from pyspark.sql import Row
from pyspark.sql import SQLContext
from datetime import datetime

In [203]:
simple_data = sc.parallelize([1,"Alice",50])
simple_data

ParallelCollectionRDD[425] at readRDDFromFile at PythonRDD.scala:274

In [204]:
simple_data.count()

3

In [205]:
simple_data.first()

1

In [206]:
simple_data.take(2)

[1, 'Alice']

In [207]:
simple_data.collect()

[1, 'Alice', 50]

In [208]:
#df = simple_data.toDF()

In [209]:
records = sc.parallelize([[1,"Alice",50],[2,"Bob",80]])
records

ParallelCollectionRDD[432] at readRDDFromFile at PythonRDD.scala:274

In [210]:
records.collect()

[[1, 'Alice', 50], [2, 'Bob', 80]]

In [211]:
df = records.toDF()

In [212]:
df

DataFrame[_1: bigint, _2: string, _3: bigint]

In [213]:
df.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 50|
|  2|  Bob| 80|
+---+-----+---+

In [214]:
data = sc.parallelize([Row(id=1,
                         name='Alice',
                         age=50)])
data

ParallelCollectionRDD[442] at readRDDFromFile at PythonRDD.scala:274

In [215]:
data.count()

1

In [216]:
data.collect()

[Row(id=1, name='Alice', age=50)]

In [217]:
data = sc.parallelize([Row(id=1,
                         name='Alice',
                         score=50),
                      Row(id=2,
                         name='Bob',
                         score=80),
                       Row(id=3,
                         name='Charlee',
                         score=75)])
data

ParallelCollectionRDD[444] at readRDDFromFile at PythonRDD.scala:274

In [218]:
data.count()

3

In [219]:
data.collect()

[Row(id=1, name='Alice', score=50),
 Row(id=2, name='Bob', score=80),
 Row(id=3, name='Charlee', score=75)]

In [220]:
df = data.toDF()

In [221]:
df.show()

+---+-------+-----+
| id|   name|score|
+---+-------+-----+
|  1|  Alice|   50|
|  2|    Bob|   80|
|  3|Charlee|   75|
+---+-------+-----+

In [222]:
complex_data = sc.parallelize([Row(col_float=1.44,
                                  col_integer=10,
                                  col_string="John")])
complex_data

ParallelCollectionRDD[454] at readRDDFromFile at PythonRDD.scala:274

In [223]:
complex_data_df = complex_data.toDF()
complex_data_df

DataFrame[col_float: double, col_integer: bigint, col_string: string]

In [224]:
complex_data_df.show()

+---------+-----------+----------+
|col_float|col_integer|col_string|
+---------+-----------+----------+
|     1.44|         10|      John|
+---------+-----------+----------+

In [225]:
complex_data = sc.parallelize([Row(col_float=1.44,
                                  col_integer=10,
                                  col_boolean=True,
                                  col_list=[1,2,3],
                                  col_string="John")])
complex_data

ParallelCollectionRDD[464] at readRDDFromFile at PythonRDD.scala:274

In [226]:
complex_data.collect()

[Row(col_float=1.44, col_integer=10, col_boolean=True, col_list=[1, 2, 3], col_string='John')]

In [227]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

+---------+-----------+-----------+---------+----------+
|col_float|col_integer|col_boolean| col_list|col_string|
+---------+-----------+-----------+---------+----------+
|     1.44|         10|       true|[1, 2, 3]|      John|
+---------+-----------+-----------+---------+----------+

In [228]:
complex_data = sc.parallelize([Row(col_list=[1,2,3],
                                  col_dict={"k1":0},
                                  col_row=Row(a=10,b=20,c=30),
                                  col_time=datetime(2014,8,1,14,1,5)
                                  ),
                              Row(col_list=[1,2,3,4,5],
                                  col_dict={"k1":0,"k2":1},
                                  col_row=Row(a=40,b=50,c=60),
                                  col_time=datetime(2014,8,2,14,1,6)
                                  ),
                              Row(col_list=[1,2,3,4,5,6,7],
                                  col_dict={"k1":0,"k2":1,"k3":2},
                                  col_row=Row(a=70,b=80,c=90),
                                  col_time=datetime(2014,8,3,14,1,7)
                                  )])
complex_data.collect()

[Row(col_list=[1, 2, 3], col_dict={'k1': 0}, col_row=Row(a=10, b=20, c=30), col_time=datetime.datetime(2014, 8, 1, 14, 1, 5)),
 Row(col_list=[1, 2, 3, 4, 5], col_dict={'k1': 0, 'k2': 1}, col_row=Row(a=40, b=50, c=60), col_time=datetime.datetime(2014, 8, 2, 14, 1, 6)),
 Row(col_list=[1, 2, 3, 4, 5, 6, 7], col_dict={'k1': 0, 'k2': 1, 'k3': 2}, col_row=Row(a=70, b=80, c=90), col_time=datetime.datetime(2014, 8, 3, 14, 1, 7))]

In [229]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

+--------------------+--------------------+------------+-------------------+
|            col_list|            col_dict|     col_row|           col_time|
+--------------------+--------------------+------------+-------------------+
|           [1, 2, 3]|           {k1 -> 0}|{10, 20, 30}|2014-08-01 14:01:05|
|     [1, 2, 3, 4, 5]|  {k1 -> 0, k2 -> 1}|{40, 50, 60}|2014-08-02 14:01:06|
|[1, 2, 3, 4, 5, 6...|{k3 -> 2, k1 -> 0...|{70, 80, 90}|2014-08-03 14:01:07|
+--------------------+--------------------+------------+-------------------+

In [230]:
sqlcontext = SQLContext(sc)
sqlcontext

In [231]:
df=sqlcontext.range(5)
df

DataFrame[id: bigint]

In [232]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [233]:
df.count()

5

In [234]:
#List of tuples
data=[('Alice',50),
      ('Bob',80),
       ('Charlee',75)]

In [235]:
sqlcontext.createDataFrame(data).show()

+-------+---+
|     _1| _2|
+-------+---+
|  Alice| 50|
|    Bob| 80|
|Charlee| 75|
+-------+---+

In [236]:
sqlcontext.createDataFrame(data,['name','score']).show()

+-------+-----+
|   name|score|
+-------+-----+
|  Alice|   50|
|    Bob|   80|
|Charlee|   75|
+-------+-----+

In [237]:
complex_data = sc.parallelize([Row(col_float=1.44,
                                  col_integer=10,
                                  col_boolean=True,
                                  col_string="John",
                                  col_list=[1,2,3],
                                  col_dict={"k1":0},
                                  col_row=Row(a=10,b=20,c=30),
                                  col_time=datetime(2014,8,1,14,1,5)
                                  ),
                              Row(col_float=1.88,
                                  col_integer=20,
                                  col_boolean=True,
                                  col_string="Alice",
                                  col_list=[1,2,3,4,5],
                                  col_dict={"k1":0,"k2":1},
                                  col_row=Row(a=40,b=50,c=60),
                                  col_time=datetime(2014,8,2,14,1,6)
                                  ),
                              Row(col_float=1.83,
                                  col_integer=30,
                                  col_boolean=True,
                                  col_string="Charlee",
                                  col_list=[1,2,3,4,5,6,7],
                                  col_dict={"k1":0,"k2":1,"k3":2},
                                  col_row=Row(a=70,b=80,c=90),
                                  col_time=datetime(2014,8,3,14,1,7)
                                  )])

In [238]:
complex_data_df = sqlcontext.createDataFrame(complex_data)

In [239]:
data = sc.parallelize([Row(1,"Alice",50),
                       Row(2,"Bob",80),
                      Row(3,'Charlee',75)])
data

ParallelCollectionRDD[515] at readRDDFromFile at PythonRDD.scala:274

In [240]:
data.collect()

In [241]:
column_names = Row('id','name','score')
students = data.map(lambda r: column_names(*r))

In [242]:
students

PythonRDD[516] at RDD at PythonRDD.scala:53

In [243]:
students.collect()

[Row(id=1, name='Alice', score=50),
 Row(id=2, name='Bob', score=80),
 Row(id=3, name='Charlee', score=75)]

In [244]:
test_df = students.toDF()
test_df

DataFrame[id: bigint, name: string, score: bigint]

In [245]:
test_df.show()

+---+-------+-----+
| id|   name|score|
+---+-------+-----+
|  1|  Alice|   50|
|  2|    Bob|   80|
|  3|Charlee|   75|
+---+-------+-----+

In [246]:
students_df = sqlcontext.createDataFrame(students)
students_df

DataFrame[id: bigint, name: string, score: bigint]

In [247]:
students_df.show()

+---+-------+-----+
| id|   name|score|
+---+-------+-----+
|  1|  Alice|   50|
|  2|    Bob|   80|
|  3|Charlee|   75|
+---+-------+-----+

In [248]:
complex_data_df.first()

Row(col_float=1.44, col_integer=10, col_boolean=True, col_string='John', col_list=[1, 2, 3], col_dict={'k1': 0}, col_row=Row(a=10, b=20, c=30), col_time=datetime.datetime(2014, 8, 1, 14, 1, 5))

In [249]:
complex_data_df.take(2)

[Row(col_float=1.44, col_integer=10, col_boolean=True, col_string='John', col_list=[1, 2, 3], col_dict={'k1': 0}, col_row=Row(a=10, b=20, c=30), col_time=datetime.datetime(2014, 8, 1, 14, 1, 5)),
 Row(col_float=1.88, col_integer=20, col_boolean=True, col_string='Alice', col_list=[1, 2, 3, 4, 5], col_dict={'k1': 0, 'k2': 1}, col_row=Row(a=40, b=50, c=60), col_time=datetime.datetime(2014, 8, 2, 14, 1, 6))]

In [250]:
cell_string = complex_data_df.collect()[0][3]
cell_string

'John'

In [251]:
cell_list = complex_data_df.collect()[0][4]
cell_list

[1, 2, 3]

In [252]:
cell_list.append(100)
cell_list

[1, 2, 3, 100]

In [253]:
complex_data_df.show()

+---------+-----------+-----------+----------+--------------------+--------------------+------------+-------------------+
|col_float|col_integer|col_boolean|col_string|            col_list|            col_dict|     col_row|           col_time|
+---------+-----------+-----------+----------+--------------------+--------------------+------------+-------------------+
|     1.44|         10|       true|      John|           [1, 2, 3]|           {k1 -> 0}|{10, 20, 30}|2014-08-01 14:01:05|
|     1.88|         20|       true|     Alice|     [1, 2, 3, 4, 5]|  {k1 -> 0, k2 -> 1}|{40, 50, 60}|2014-08-02 14:01:06|
|     1.83|         30|       true|   Charlee|[1, 2, 3, 4, 5, 6...|{k3 -> 2, k1 -> 0...|{70, 80, 90}|2014-08-03 14:01:07|
+---------+-----------+-----------+----------+--------------------+--------------------+------------+-------------------+

In [254]:
complex_data_df.rdd\
                .map(lambda x : (x.col_string,x.col_dict))\
                .collect()

[('John', {'k1': 0}),
 ('Alice', {'k1': 0, 'k2': 1}),
 ('Charlee', {'k3': 2, 'k1': 0, 'k2': 1})]

In [255]:
complex_data_df.select(
        'col_string',
        'col_dict',
        'col_time'
).show()

+----------+--------------------+-------------------+
|col_string|            col_dict|           col_time|
+----------+--------------------+-------------------+
|      John|           {k1 -> 0}|2014-08-01 14:01:05|
|     Alice|  {k1 -> 0, k2 -> 1}|2014-08-02 14:01:06|
|   Charlee|{k3 -> 2, k1 -> 0...|2014-08-03 14:01:07|
+----------+--------------------+-------------------+

In [256]:
complex_data_df.rdd\
                .map(lambda x : x.col_string + " Boo")\
                .collect()

['John Boo', 'Alice Boo', 'Charlee Boo']

In [257]:
complex_data_df.select(
                    'col_integer',
                    'col_float'
        )\
        .withColumn(
                    "col_sum",
                    complex_data_df.col_integer + complex_data_df.col_float
        )\
.show()

+-----------+---------+-------+
|col_integer|col_float|col_sum|
+-----------+---------+-------+
|         10|     1.44|  11.44|
|         20|     1.88|  21.88|
|         30|     1.83|  31.83|
+-----------+---------+-------+

In [258]:
complex_data_df.select(
                    'col_boolean'
        )\
        .withColumn(
                    "col_opposite",
                    complex_data_df.col_boolean == False
        )\
.show()

+-----------+------------+
|col_boolean|col_opposite|
+-----------+------------+
|       true|       false|
|       true|       false|
|       true|       false|
+-----------+------------+

In [259]:
complex_data_df.withColumnRenamed('col_dict','col_map').show()

+---------+-----------+-----------+----------+--------------------+--------------------+------------+-------------------+
|col_float|col_integer|col_boolean|col_string|            col_list|             col_map|     col_row|           col_time|
+---------+-----------+-----------+----------+--------------------+--------------------+------------+-------------------+
|     1.44|         10|       true|      John|           [1, 2, 3]|           {k1 -> 0}|{10, 20, 30}|2014-08-01 14:01:05|
|     1.88|         20|       true|     Alice|     [1, 2, 3, 4, 5]|  {k1 -> 0, k2 -> 1}|{40, 50, 60}|2014-08-02 14:01:06|
|     1.83|         30|       true|   Charlee|[1, 2, 3, 4, 5, 6...|{k3 -> 2, k1 -> 0...|{70, 80, 90}|2014-08-03 14:01:07|
+---------+-----------+-----------+----------+--------------------+--------------------+------------+-------------------+

In [260]:
complex_data_df.select(complex_data_df.col_string.alias("Name")).show()

+-------+
|   Name|
+-------+
|   John|
|  Alice|
|Charlee|
+-------+

In [261]:
import pandas

In [262]:
df_pandas = complex_data_df.toPandas()
df_pandas

,col_float,col_integer,col_boolean,col_string,col_list,col_dict,col_row,col_time
0,1.44,10,True,John,"[1, 2, 3]",{'k1': 0},"(10, 20, 30)",2014-08-01 14:01:05
1,1.88,20,True,Alice,"[1, 2, 3, 4, 5]","{'k1': 0, 'k2': 1}","(40, 50, 60)",2014-08-02 14:01:06
2,1.83,30,True,Charlee,"[1, 2, 3, 4, 5, 6, 7]","{'k3': 2, 'k1': 0, 'k2': 1}","(70, 80, 90)",2014-08-03 14:01:07

In [263]:
df_spark = sqlcontext.createDataFrame(df_pandas).show()
df_spark

+---------+-----------+-----------+----------+--------------------+--------------------+------------+-------------------+
|col_float|col_integer|col_boolean|col_string|            col_list|            col_dict|     col_row|           col_time|
+---------+-----------+-----------+----------+--------------------+--------------------+------------+-------------------+
|     1.44|         10|       true|      John|           [1, 2, 3]|           {k1 -> 0}|{10, 20, 30}|2014-08-01 14:01:05|
|     1.88|         20|       true|     Alice|     [1, 2, 3, 4, 5]|  {k1 -> 0, k2 -> 1}|{40, 50, 60}|2014-08-02 14:01:06|
|     1.83|         30|       true|   Charlee|[1, 2, 3, 4, 5, 6...|{k3 -> 2, k1 -> 0...|{70, 80, 90}|2014-08-03 14:01:07|
+---------+-----------+-----------+----------+--------------------+--------------------+------------+-------------------+